@model IEnumerable<NimapAssessment.Models.Product>

@{
    ViewData["Title"] = "Index";
    var pager = ViewBag.Pager;
}

<h1>Index</h1>
<hr />
<div class="container">
    @if(pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for(var pge=pager.StartPage;pge <= pager.EndPage;pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "Active" : "")">
                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
        </ul>
    }
</div>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(Model => Model.ProductId)</th>
                <th>@Html.DisplayNameFor(Model => Model.ProductName)</th>
                <th>@Html.DisplayNameFor(Model => Model.CategoryId)</th>
                <th>@Html.DisplayNameFor(Model => Model.CategoryName)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(Modelitem => item.ProductId)</td>
                    <td>@Html.DisplayFor(Modelitem => item.ProductName)</td>
                    <td>@Html.DisplayFor(Modelitem => item.CategoryId)</td>
                    <td>@Html.DisplayFor(Modelitem => item.CategoryName)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CategoryId }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-action="Create" class="btn btn-primary">Add Category</a>
    </p>
</div>

